<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nueva Marca</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}

        <h3>Nombre de la Marca:</h3><input type="text" name="Marca"
            value="{{ form.marca.value|default_if_none:'' }}">

        <br><br>
        <button type="submit">Agregar Marca</button>
    </form>
    <br><br>
    <button type="button" onclick="window.location.href='{% url 'pos:index' %}'" >Regresar</button>
</body>

</html>
