<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nuevo Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3672dac92b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="card text-center text-bg-info mb-3">
            <br>
            <h3>Agregar Producto</h3><br>
        </div>
    </div>
    <br>
    <a onclick="window.location.href='{% url 'POS:homePOS' %}'" style="padding-top: 10px; padding-left:10px; cursor: pointer;"><i class="fa-solid fa-house" style="color: #74C0FC; font-size:2em"></i></a>
    <div style="padding-left: 10px; padding-top: 20px;">
        <form method="POSt" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label class="form-label">Nombre</label><br>
                <input type="text" name="Producto" class="form-control" required
                    value=''><br><br>
            </div>
            <div>
                <label class="form-label">Marca</label><br>
                <select name="IdMarca" id="marca{{forloop.counter}}" class="form-control" required>
                    <option value="" selected disabled>Seleccione la marca</option>
                    {% if marcas_list %}
                        {% for marca in marcas_list %}
                            <option value="{{ marca.id }}">{{ marca.Marca }}</option>
                        {% endfor %}
                    {% else %}
                        <option disabled>No hay Marcas Disponibles</option>
                    {% endif %}
                </select>
                <br><br>
            </div>
            <div>
                <label class="form-label">Cantidad</label><br>
                <input type="number" name="Cantidad" class="form-control" required
                    value=''><br><br>
            </div>
            <div>
                <label class="form-label">Precio de venta</label><br>
                <input type="number" name="PVenta" class="form-control" required
                    value=''><br><br>
            </div>
            <div>
                <label class="form-label">Precio de compra</label><br>
                <input type="number" name="PCompra" class="form-control" required
                    value=''><br><br>
            </div>
            <div>
                <label class="form-label">Descripcion</label><br>
                <input type="text" name="Descripcion" class="form-control" required
                    value=''><br><br>
            </div>
            <div>
                <label class="form-label">Distribuidor</label><br>
                <select name="IdDistribuidor" id="distribuidor{{forloop.counter}}" class="form-control" required>
                    <option value="" selected disabled>Seleccione el distribuidor</option>
                    {% if distribuidores_list %}
                        {% for distribuidor in distribuidores_list %}
                            <option value="{{ distribuidor.id }}">{{ distribuidor.Distribuidor }}</option>
                        {% endfor %}
                    {% else %}
                        <option disabled>No hay Distribuidores Disponibles</option>
                    {% endif %}
                </select>
                <br><br>
            </div>
            <div>
                <label class="form-label">Categoría</label><br>
                <select name="IdCategoria" id="categoria{{forloop.counter}}" class="form-control" required>
                    <option value="" selected disabled>Seleccione la categoría</option>
                    {% if categorias_list %}
                        {% for categoria in categorias_list %}
                            <option value="{{ categoria.id }}">{{ categoria.Categoria }}</option>
                        {% endfor %}
                    {% else %}
                        <option disabled>No hay Categorias Disponibles</option>
                    {% endif %}
                </select>
                <br><br>
            </div>
            <div>
                <label class="form-label">Imagen</label><br>
                <input type="file" name="Imagen" accept="image/*" id="id_Imagen">
                <br><br>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
    <br><br>
</body>

</html>