<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS Landing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3672dac92b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="card text-center text-bg-info mb-3">
            <br>
            <h3>¡Bienvenido a tu Tienda!</h3>
            <p>{{user.nombre}}</p>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100%;">
        <button type="button" class="btn btn-primary"
            onclick="window.location.href='{% url 'POS:homePOS' %}'"><a style="padding-top: 10px; padding-left:10px; cursor: pointer;"><i class="fa-solid fa-house" style="color: #74C0FC; font-size:2em"></i></a></button>
        <button type="button" class="btn btn-primary"
            onclick="window.location.href='{% url 'POS:newProduct' %}'">Agregar producto</button>
        <button type="button" class="btn btn-primary"
            onclick="window.location.href='{% url 'POS:newBrand' %}'">Agregar
            marca</button>
        <button type="button" class="btn btn-primary"
            onclick="window.location.href='{% url 'POS:newCategory' %}'">Agregar categoría</button>
        <button type="button" class="btn btn-primary"
            onclick="window.location.href='{% url 'POS:newSupplier' %}'">Agregar distribuidor</button>
    </div>
    <br><br><br>
    <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100%; height: 180px;">
        <button type="button" class="btn btn-outline-primary"
            onclick="window.location.href='{% url 'POS:indexProduct' %}'">Productos</button>
        <button type="button" class="btn btn-outline-primary"
            onclick="window.location.href='{% url 'POS:indexBrand' %}'">Marcas</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100%;height: 180px;">
        <button type="button" class="btn btn-outline-primary"
            onclick="window.location.href='{% url 'POS:indexSupplier' %}'">Distribuidores</button>
        <button type="button" class="btn btn-outline-primary"
            onclick="window.location.href='{% url 'POS:indexCategory' %}'">Categorías</button>
    </div>
    <br><br>
    <button type="button" class="btn btn-primary"><a onclick="window.location.href='{% url 'landing:logOut' %}'" style="padding-top: 10px; cursor: pointer;">LogOut</a>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>


</body>

</html>